doctype html 
html 
    head
        block head 
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            title #{title}
            link(rel='stylesheet', href='/stylesheets/bundle.css') 
    body
        // HEADER
        // include _header

        // CONTENT
        //block content
        h1 Hi


        // FOOTER
        // include _footer

        script(src='/js/bundle.js')