extends base

block append head 
    link(rel="stylesheet", href="/stylesheets/users.css")

block content
    button#new--user New User
    table#users--table 
        tr#heads--row
            th ID
            th Name 
            th @Email
            th Gender 
            th Status 
            th Action
        tr.user--row
            td 1
            td Ashok Talwar 
            td ashok_talwar@hagenes.co
            td Male 
            td Active
            td
                i.fa-solid.fa-pen
